<h1 style="padding: 0 0 0 20px ">Search form</h1>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="container" style="padding: 0 0 0 10px">
    <mat-form-field appearance="fill">
      <mat-label>Course name</mat-label>
      <input matInput placeholder="Course name" formControlName="courseName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Instructor name</mat-label>
      <input matInput placeholder="Instructor name" formControlName="instructor">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Course create date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="createFrom" placeholder="Start date">
        <input matEndDate formControlName="createTo" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="f.createFrom.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="f.createTo.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let status of statues" [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="categoryFormControl" multiple>
        <mat-select-trigger>
          {{categoryFormControl.value ? categoryFormControl.value[0].name : ''}}
          <span *ngIf="categoryFormControl.value?.length > 1" class="example-additional-selection">
        (+{{categoryFormControl.value.length - 1}} {{categoryFormControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="button-wrapper">
    <button type="submit" [disabled]="submitted" class="center" mat-raised-button color="primary">Search</button>
    <button [disabled]="submitted" (click)="onClickAddNewCourse()" class="center" mat-raised-button color="primary">
      Create new
    </button>
  </div>
</form>


<div class="mat-elevation-z8" style="margin: 20px">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Course title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Instructor -->
    <ng-container matColumnDef="instructor">
      <th mat-header-cell *matHeaderCellDef> Instructor</th>
      <td mat-cell *matCellDef="let element"> {{element.instructor.firstName + ' ' + element.instructor.lastName}} </td>
    </ng-container>

    <!-- Number comment -->
    <ng-container matColumnDef="commentCount">
      <th mat-header-cell *matHeaderCellDef> NumberComment</th>
      <td mat-cell *matCellDef="let element"> {{element.commentCount}} </td>
    </ng-container>

    <!-- Total sell -->
    <ng-container matColumnDef="courseSell">
      <th mat-header-cell *matHeaderCellDef>Total sell</th>
      <td mat-cell *matCellDef="let element"> {{element.courseSell}} </td>
    </ng-container>

    <!-- Total sell -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let row; let i = index">
        <button type="button" (click)="onClickCourseDetail(row)" mat-button>Edit lesson</button>

        <button *ngIf="element.status === 'WAIT'" type="button" (click)="onClickApprove(i)" mat-button>Approve lesson
        </button>
      </td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="onPage($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

