<h1>Lesson detail</h1>
<form [formGroup]="lessonForm" >
  <mat-form-field style="padding: 0 0 0 10px" appearance="fill">
    <mat-label>Lesson title</mat-label>
    <label>
      <input matInput placeholder="Lesson title" formControlName="lessonTitle" required>
    </label>
  </mat-form-field>

  <ckeditor formControlName="description" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
  <div class="button-wrapper">
    <button type="button" (click)="onSubmit()" [disabled]="submitted" class="center"  mat-raised-button color="primary">
      Edit lesson
    </button>
    <button type="button" (click)="createNewQuestion()" [disabled]="submitted" class="center" mat-raised-button
            color="primary">
      Create new question
    </button>
  </div>

  <div style="text-align:center">
    <app-material-file-upload (onComplete)="onFileComplete($event)"></app-material-file-upload>
  </div>
  <div class="button-wrapper">
    <mat-form-field appearance="legacy">
      <mat-label>Video</mat-label>
      <label>
        <input formControlName="urlVideo" disabled matInput placeholder="Video" required>
      </label>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8" style="margin: 20px">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows formArrayName="lessonQuestions"
           class="mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = dataIndex"> {{ i + 1 + "." }}</td>
      </ng-container>
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef> Question</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Question title</mat-label>
            <label>
              <input formControlName="questionTitle" matInput placeholder="Question title" required>
            </label>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Column definitions -->
      <ng-container matColumnDef="expandedDetail">
        <th mat-header-cell *matHeaderCellDef>Lesson title</th>
        <td mat-cell *matCellDef="let i = dataIndex; let element" [attr.colspan]="displayColumn.length"
            [formGroupName]="i">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <label>
                <input formControlName="question" matInput placeholder="Question" required>
              </label>
            </mat-form-field>

            <div style="display: flex" formArrayName="lessonAnswers">
              <div formGroupName="0">
                <mat-form-field appearance="fill">
                  <mat-label>First answer</mat-label>
                  <label>
                    <input matInput placeholder="First answer" formControlName="content" required>
                  </label>
                </mat-form-field>
                <mat-checkbox (change)="onCheckCorrectAnswer(i, 0)" formControlName="active">Active</mat-checkbox>
              </div>

              <div formGroupName="1">
                <mat-form-field appearance="fill">
                  <mat-label>Second answer</mat-label>
                  <label>
                    <input matInput placeholder="Second answer" formControlName="content" required>
                  </label>
                </mat-form-field>
                <mat-checkbox (change)="onCheckCorrectAnswer(i, 1)" formControlName="active">Active</mat-checkbox>
              </div>
              <div formGroupName="2">
                <mat-form-field appearance="fill">
                  <mat-label>Third answer</mat-label>
                  <label>
                    <input matInput placeholder="Third answer" formControlName="content" required>
                  </label>
                </mat-form-field>
                <mat-checkbox (change)="onCheckCorrectAnswer(i, 2)" formControlName="active">Active</mat-checkbox>
              </div>
              <div formGroupName="3">
                <mat-form-field appearance="fill">
                  <mat-label>Fourth answer</mat-label>
                  <label>
                    <input matInput placeholder="Fourth answer" formControlName="content" required>
                  </label>
                </mat-form-field>
                <mat-checkbox (change)="onCheckCorrectAnswer(i, 3)" formControlName="active">Active</mat-checkbox>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">

          <button type="button" mat-button (click)="expandedElement = expandedElement === element ? null : element">
            Edit
            lesson
          </button>
          <button type="button" mat-button (click)="deleteQuizQuestion(element, i);">Delete question</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
      <tr mat-row *matRowDef="let element; let i = dataIndex; columns: displayColumn;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element">
      </tr>
      <tr mat-row *matRowDef="let i = dataIndex; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>


</form>
