<h1 style="padding: 0 0 0 20px "> User detail</h1>

<form [formGroup]="userForm">
  <div class="container" >
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <label>
        <input matInput placeholder="Username" formControlName="username">
      </label>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <label>
        <input matInput placeholder="Password" formControlName="password">
      </label>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <label>
        <input matInput placeholder="Confirm password" formControlName="confirmPassword">
      </label>
    </mat-form-field>
  </div>
  <div class="container" >
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <label>
        <input matInput placeholder="First name" formControlName="firstName">
      </label>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <label>
        <input matInput placeholder="Last name" formControlName="lastName">
      </label>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <label>
        <input matInput placeholder="Email" formControlName="email">
      </label>
    </mat-form-field>
  </div>
  <div class="container" >
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <label>
        <input matInput placeholder="Phone number" formControlName="phoneNumber">
      </label>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of roles" [value]="role">{{role.roleName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>
  <h1 style="padding: 0 0 0 20px ">Intruder detail</h1>
  <!--  <mat-checkbox (change)="checkIntruder($event)" >Teacher detail</mat-checkbox>-->
  <div formGroupName="instructorDetail">
    <!--    <h1 [@detailExpand]="isIntruder ? 'expanded' : 'collapsed'">AAAAAA</h1>-->
    <ckeditor formControlName="aboutMe" [editor]="editor" data="<p>Description</p>"></ckeditor>
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Facebook</mat-label>
        <label>
          <input matInput placeholder="First name" formControlName="facebookLink">
        </label>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Twitter</mat-label>
        <label>
          <input matInput placeholder="First name" formControlName="twitterLink">
        </label>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Youtube link</mat-label>
        <label>
          <input matInput placeholder="First name" formControlName="youtubeLink">
        </label>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Achievement</mat-label>
        <label>
          <input matInput placeholder="First name" formControlName="achievement">
        </label>
      </mat-form-field>
    </div>
  </div>

  <h1 style="padding: 0 0 0 20px ">Student detail</h1>
  <div class="container" formGroupName="studentDetail">
    <mat-form-field appearance="fill">
      <mat-label>Grade</mat-label>
      <mat-select formControlName="grade">
        <mat-option *ngFor="let grade of grades" [value]="grade">{{grade}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>School</mat-label>
      <label>
        <input matInput placeholder="school" formControlName="school">
      </label>
    </mat-form-field>

  </div>

  <div class="button-wrapper">
    <button type="button" [disabled]="submitted" (click)="createNewUser()" class="center" mat-raised-button
            color="primary">Create new
    </button>
  </div>
</form>
